.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0;

  &__header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 25px 0;
    text-transform: capitalize;

    .header-block {
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  &__total {
    padding: 50px 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 40px;
    text-transform: uppercase;
  }

  .StripeCheckout {
    margin-left: auto;
    margin-top: 50px;
  }

  .payment-warning {
    color: red;
    text-align: center;
    font-size: 24px;
  }
}
